main {
    display: flex;
    justify-content: space-around;
}

.magenta {
    width: 200px;
    height: 100px;
    background-color: magenta;
    transition: margin-left 0.5s;
}

.magenta:hover {
    margin-left: 50px;
}

.blu {
    width: 200px;
    height: 100px;
    background-color: blue;
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    0% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}